.btn {
    margin: 3px;
}

.panel-body {
    overflow-y: auto;
    max-height: 250px;
}

#chartSection, #chordDiagramSection {
    height: 550px;
}

svg {
    height: 500px;
    width: 100%;
    display: block;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/*.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #316700;
    border-color: #204d74;
}

.btn-primary:hover {
    background-color: #59ab0f;
    border-color: #59ab0f;
}*/

.clickable {
    cursor: pointer;
}

.nvd3.nv-stackedarea path.nv-area {
    stroke: black !important;
    stroke-opacity: 0.5;
}
