.btn {
    margin: 3px;
}

.panel-body {
    overflow-y: auto;
    max-height: 250px;
}

#graphs {
    height: 550px;
}

svg {
    height: inherit;
    display: block;
    -webkit-user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #ff0000;
    border-color: #204d74;
}

.btn-primary:hover {
    background-color: lightcoral;
    border-color: lightcoral;
}
<<<<<<< HEAD

.input-group .form-control {
    float: left;
    width: 30%;
}

.clickable {
    cursor: pointer;
}
=======
>>>>>>> origin/master
